<!doctype html>
<html lang="en">

<head>
  
</head>

<body>

<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<div class="container">
<div class="jumbotron">
  <h1>Angular Router App</h1>
<nav>
  <ul>
    <li><a routerLink="/Tweets" routerLinkActive="active">Tweets</a></li>
    <li><a routerLink="/Users" routerLinkActive="active">Users</a></li>
  </ul>
</nav>
</div>
</div>

<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>
</body>