<!doctype html>
<html lang="en">

<head>
  
</head>

<body>

<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule)

-->
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Social-Growth.io</a>
  <div style="margin:auto">
    <a class="navbar-brand" routerLink="/Schedule" routerLinkActive="active">Schedule</a>
    <a class="navbar-brand" routerLink="/Tweets" routerLinkActive="active">Tweets</a>
    <a class="navbar-brand" routerLink="/Users" routerLinkActive="active">Users</a>
    <a class="navbar-brand" routerLink="/Engage" routerLinkActive="active">Engage</a>
  </div>
</nav>

<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>
</body>